@media(max-width: 1399px) {
    .navbar-brand {
        width: 35%;
    }

    .navbar-brand img {
        width: 32%;
    }

    .navbar-expand-lg .offcanvas {
        width: 75%;
    }



    .header .nav-item {
        padding: 0;
    }

    .general_title {
        width: 70%;
    }

    .service_price_tab {
        width: 100%;
    }
}


@media(max-width: 1199px) {
    .navbar-brand {
        width: 35%;
    }

    .navbar-brand img {
        width: 32%;
    }

    .hero_image img {
        position: absolute;
        top: 23%;
        width: 40%;
        right: 15px;
    }

    .navbar-expand-lg .offcanvas {
        width: 75%;
    }

    .header .nav-link {
        font-size: 13px;
        padding: 0;
    }

    .header .nav-item {
        padding: 0;
    }

    .general_title {
        width: 70%;
    }

    .service_price_tab {
        width: 100%;
    }
}

@media(max-width:991px) {
    .himg {
        display: none;
    }

    .hero_image2 {
        display: block;
        text-align: center;
    }

    .hero_image2 img {
        display: block;
        width: 55%;
        margin: auto;
    }

    .hero_content {
        margin-top: 25%;
        text-align: center;
    }

    .about_image {
        text-align: center;
    }

    .about_image img {
        width: 80%;
    }

    .general_title {
        text-align: center;
        width: 80%;
    }

    .serv_img img {
        margin-top: 20px;
    }

    .navbar-expand-lg .offcanvas {
        width: 60%;
    }

    .header .nav-link{
        font-size: 16px;
        color: var(--cs-white) !important;
    }

    .header .nav-item {
        padding: 10px;
        font-size: 16px;
    }

}

@media(max-width:767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .p-60 {
        padding: 60px 15px;
    }

    .nav-link {
        color: var(--cs-white) !important;
    }

    .navbar-brand {
        width: 70%;
    }

    .navbar img {
        width: 30%;
    }

    .hero_content {
        margin-top: 35%;
        text-align: center;
    }

    .hero_content p {
        font-size: 16px;
    }

    .hero_button {
        margin: auto;
    }

    .himg {
        display: none;
    }

    .hero_image2 {
        display: block;
    }

    .hero_image2 img{
        display: block;
    }

    .general_title {
        text-align: center;
        width: 100%;
    }

    .about_des {
        flex-direction: column;
    }

    .about_content {
        text-align: center;
    }

    .google_partners {
        flex-direction: column;
    }

    .google_partners img {
        width: 60%;
        margin-bottom: 20px;
    }

    .service_price_tab {
        width: 100%;
    }

    .tab {
        padding: 30px;
    }

    .nav-pills .nav-link {
        font-size: 15px;
        color: var(--cs-text) !important;
    }

    .pricing li p b {
        font-size: 18px;
    }

    .serv_img {
        margin-top: 30px;
    }

    .nav-pills .nav-item {
        padding: 0;
    }

    .serv {
        padding: 20px 0px;
    }

    .serv {
        padding: 20px 0px;
    }

    .btn-cs2 {
        padding: 10px 20px;
        font-size: 16px;
    }

    .testimonial {
        padding-bottom: 60px;
        background-position: center center;
    }

    .cs_client {
        flex-direction: column;
        align-items: center;
    }

    .cs_content {
        padding: 20px;
        text-align: center;
    }

    .social {
        margin-top: 20px;
    }

    .social h3 {
        text-align: center;
    }

    .contact_content h3 {
        text-align: center;
    }

    .cc p {
        color: var(--cs-white);
        font-size: 12px;
    }
}

@media(max-width:425px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .p-60 {
        padding: 60px 15px;
    }

    .navbar-expand-lg .offcanvas {
        width: 100%;
    }

    .header .nav-link{
        font-size: 16px;
    }

    .header .nav-item {
        padding: 10px;
        font-size: 16px;
    }

    .nav-link {
        color: var(--cs-white) !important;
    }

    .navbar-brand {
        width: 70%;
    }

    .navbar img {
        width: 40%;
    }

    .hero_content {
        margin-top: 50%;
        text-align: center;
    }

    .hero_content p {
        font-size: 16px;
    }

    .hero_button {
        margin: auto;
    }

    .himg {
        display: none;
    }

    .hero_image2 {
        display: block;
    }

    
    .hero_image2 img{
        display: block;
        width: 89%;
    }

    .general_title {
        text-align: center;
        width: 100%;
    }

    .about_des {
        flex-direction: column;
    }

    .about_content {
        text-align: center;
    }

    .google_partners {
        flex-direction: column;
    }

    .google_partners img {
        width: 60%;
        margin-bottom: 20px;
    }

    .service_price_tab {
        width: 100%;
    }

    .tab {
        padding: 30px 15px;
    }

    .nav-pills .nav-link {
        font-size: 15px;
        color: var(--cs-text) !important;
    }

    .pricing li p b {
        font-size: 18px;
    }

    .serv_img {
        margin-top: 30px;
    }

    .nav-pills .nav-item {
        padding: 0;
    }

    .serv {
        padding: 20px 0px;
    }

    .serv {
        padding: 20px 0px;
    }

    .btn-cs2 {
        padding: 10px 20px;
        font-size: 16px;
    }

    .testimonial {
        padding-bottom: 60px;
        background-position: center center;
    }

    .cs_client {
        flex-direction: column;
        align-items: center;
    }

    .cs_content {
        padding: 20px;
        text-align: center;
    }

    .social {
        margin-top: 20px;
    }

    .social h3 {
        text-align: center;
    }

    .contact_content h3 {
        text-align: center;
    }

    .cc p {
        color: var(--cs-white);
        font-size: 12px;
    }
}